<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Notification</title>
    <style>
      #notification-box {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        top: 100px;
        width: 60%;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      .notification-box-content {
        display: flex;
        flex-grow: 1;
        padding: 10px;
        background-color: #007bff;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      .notification-box-content p {
        margin: 0;
      }

      #close-notification-box {
        padding: 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1 align="center">Notification Page</h1>
    <div id="notification-box">
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const notificationBox = document.getElementById("notification-box");
    
      socket.on("notif", (value) => {
        let { email, status, message } = value;
        let judul = document.createElement("h4");
        let pesan = document.createElement("p");
        let boxContent = document.createElement("div");
        judul.innerHTML = status;
        pesan.innerHTML = message + " with Email = " + email;
        boxContent.classList.add("notification-box-content");
        boxContent.append(judul, pesan);
        notificationBox.append(boxContent);
      });
    </script>
  </body>
</html>
